@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradient {
        background: linear-gradient(to right, #ff7bac, #ca6eeb);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
