---
import RegisterPage from "../LoginRegister/RegisterPage.tsx";
import "../styles.css";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Register With Aura</title>
  </head>
  <body>
    <div id="root">
      <RegisterPage />
    </div>
  </body>
</html>
