---
import RegisterPage from "../LoginRegister/RegisterPage.tsx";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Register With Aura</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <div id="root">
      <RegisterPage />
    </div>
  </body>
</html>
