@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradient {
        background: linear-gradient(to right, #FF7BAC, #CA6EEB);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .grid-cols-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    
    }
}

@layer components {
    .mini-card {
        width: 150px;
        height: 100px;
    }

    .savings-card{
        width: 190px;
        height: 215px;
    }
    
}

.min-w-card {
    min-width: 250px;
    max-width: 300px;
}
