@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradient {
        background: linear-gradient(to right, #FF7BAC, #CA6EEB);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@layer components {

    .ribbon {
        position: relative;;
    }
    
    .ribbon::before {
        content: "";
        position: absolute;
        top: -12px;
        left: 50%;
        width: 100vw;
        height: calc(100% + 20px);
        background-color: #DDDCEE;
        transform: translateX(-50%);
        z-index: -1;
    }
}